<section class="chat__wrap">
    <div class="chat__wrap-left">
        <form action="" class="form__search">
            <input id="search" type="text" placeholder="Поиск" required>
            <label for="search"></label>
        </form>
        <div class="chat__wrap-list">
            <div class="chat__wrap-scroll">
                {{#each users}}
                    {{{ UserListItem userName=this.userName dateMes=this.dateMes message=this.message messCounter=this.messCounter }}}
                {{/each}}
            </div>
        </div>
        <div class="profile__links">
            {{#Link to="/profile" className="message__item-avatar"}}
                <img src="{{avatarImg}}" alt="avatar">
            {{/Link}}
            <div class="message__item-avatar">
                <img src="{{settingImg}}" alt="setting">
            </div>
        </div>
    </div>
    <div class="chat__wrap-messages">
        <div class="chat__wrap-info">
            <div class="chat__wrap-name">
                <div class="message__item-avatar">
                    <img src="{{avatarImg}}" alt="avatar">
                </div>
                <div class="chat__wrap-name">
                    Вася
                </div>
            </div>
            <div class="chat__wrap-setting">
                <img src="{{dotsImg}}" alt="dots">
            </div>
        </div>
        <div class="chat__wrap-list">
            <div class="chat__wrap-scroll">
                {{{ InputMessage message="ккаой то текст" }}}
                {{{ OutMessage message="тут тоже какой то текст" }}}
            </div>
        </div>
        <form class="send__message" action="">
            <button type="button" class="chat__wrap-file">
                <img src="{{addFileImg}}" alt="file">
            </button>
            {{{ Input onChange=onChange }}}
            {{#if errMes}}
                <span class="send__message-err">пустое поле</span>
            {{/if}}
            {{{ SendMessageBtn onClick=onSubmit }}}

        </form>
    </div>
</section>
