<section class="chat__wrap">
    <div class="chat__wrap-left">
        <form action="" class="form__search">
            {{{Input onChange=searchUser ref="searchRef" idInput="search" name="search" type="text" placeholder="создать чат" required="true"}}}
            {{{Button buttonType="button" className="form__search-btn" onClick=addUser label="создать"}}}
        </form>
        <div class="chat__wrap-list">
            <div class="chat__wrap-scroll">
                {{#each chats}}
                    {{{ ChatListItem chatAvatar=this.chatAvatar onClick=onChat userName=this.userName dateMes=this.dateMes message=this.message messCounter=this.messCounter }}}
                {{/each}}
            </div>
        </div>
        <div class="profile__links">
            {{#Link to="/profile" className="message__item-avatar"}}
                <img src="{{avatarImg}}" alt="avatar">
            {{/Link}}
            <div class="message__item-avatar">
                <img src="{{settingImg}}" alt="setting">
            </div>
        </div>
    </div>
    {{{Messenger selectedChat=this.selectedChat selectChatName=this.selectChatName}}}

</section>
