<section class="profile__wrap">
    {{#Link className="arrow__back"  to="/messenger" }}
        <img src="{{arrowImg}}" alt="back">
    {{/Link}}
    {{{ ProfileAvatar ref=avatarRef profileName=profileName avatarImg=avatarImg}}}
    <div class="profile__info-list">
        <ul>
            {{#each items }}
                {{{ ProfileItem  tagName=this.tagName ref=this.ref itemName=this.itemName itemValue=this.itemValue }}}
            {{/each}}
        </ul>
    </div>
    <div class="profile__info-btns">
        {{{Link className="profile__info-btns-link" label="Изменить данные" to="/settings"}}}
        {{{Link className="profile__info-btns-link" label="Изменить пароль" to="/changePassword"}}}
        {{{Button onClick=logout className="profile__info-btns-logout" buttonType="button" label="Выйти" }}}
    </div>
</section>
