<div class="message__item">
    <div class="message__item-avatar">
        <img src="{{avatarImg}}" alt="1">
    </div>
    <div class="message__item-info">
        <div class="message__item-top">
            <div class="message__item-name">
                {{userName}}
            </div>
            <div class="message__item-date">
                {{dateMes}}
            </div>
        </div>
        <div class="message__item-post">
            {{message}}
        </div>
        <div class="message__item-new-message">
            {{messCounter}}
        </div>
    </div>
</div>
