<div class="sign__input">
    {{#if req}}
        <span class="sign__input-err">
            {{errorMessage}}
        </span>
    {{/if}}
   <input value="{{ fieldValue }}" id={{ fieldName }} name={{ fieldName }} type="text" required>
   <label for={{ fieldName }}>{{ label }}</label>
</div>


