<section class="profile__wrap">
    {{#Link className="arrow__back" to="/profile" }}
        <img src="{{arrowImg}}" alt="back">
    {{/Link}}
    {{{ ProfileAvatar ref=avatarRef profileName=profileName avatarImg=avatarImg}}}


    <form class="profile__info-list" action="">
        <div>
            <span>Поменять аватар</span>
            {{{ Input idInput="avatar-input" ref=inputAvatarRef accept=accept onChange=uploadAvatar name=nameInput type=typeName }}}
        </div>
        <br>
        <ul>
            {{#each fields}}
                {{{FormInput
                        ref=this.ref
                        fieldName=this.name
                        label=this.label
                        fieldType=this.fieldType
                        fieldValue=this.value
                        onChange=this.onChange
                        onFocusOut=this.onFocusOut
                        onFocusin=this.onFocusin
                        className="profile__info-itemlist"
                }}}
            {{/each}}
        </ul>
        {{{Button buttonType="submit" className="btn__base" label='сохранить' onClick=onSubmit}}}
    </form>
</section>
